body{
    background-color:cadetblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.nav-menu li a {
    list-style: none;
    text-decoration: none;
    color: whitesmoke;

}
.nav-menu{
    display: flex;
    width: 25%;
    justify-content: space-between;
}
.nav-menu li {
    list-style: none;
}
.nav-container {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    
}
.content-width {
    width: 75%;

}
.nav-content{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.cart-menu {
    display: flex;
    width: 20%;
    justify-content: space-between;
}
.cart-menu li a {
    color:black;
    list-style: none;
    text-decoration: none;
    
}
.cart-menu li {
    
    list-style: none;
}
.subnav-container{
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    
    
}
.subnav{
    display: flex;
    justify-content: space-between;

}
.subnav li {
    list-style: none;
}
.subnav li a {
    text-decoration: none;
    color: whitesmoke;
}
.rightup{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(235, 235, 235);
}
.rightup .content-width{
    width: 40%;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    font-weight: 500;
}
 .meta{
    font-size: 1.2rem;
    color: black;
}

.footer{
    width: 100%;
    background-color: darkgray;
    padding-top: 10px;
    
}

.footer .meta a{
    text-align: right;
    color:black;
    list-style: none;
    text-decoration: none;
}
.row{
    box-sizing: border-box;
    justify-content: center;
   
}

 .footer-subnav a{
    text-decoration: none;
    color: whitesmoke;
 } 

 .footer .content-width{
    width: 90%;
 }
 .text-right{
    text-align: right;
 }
 .footer-columns{
     display: flex;
     justify-content: space-between;
 }
 .footer-columns ul li {
    list-style: none;
 }
 .footer-columns ul li a {
    text-decoration: none;
    color:black;
 }
 .footer-columns ul {
    padding-inline-start: 0px;
 }
 .col-md-2{
    width: 15%;
    margin: 10px;
 }
 .col-md-5{
    width: 45%;
 }
 .inline a {
    color:black;
    list-style: none;
    text-decoration: none;
}
.payment-icons{
    display: flex;
}
.payment-icon{
    margin-right: 10px;
}
.text-center{
    display: flex;
    justify-content: center;
}

